body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-right {
    color: #fff;
    padding: 0.5rem 1rem;
}

.nav-option {
    color: black;
    padding: 0.5rem 1rem;
}


.nav-leftside {
    height: 100%; /* 100% Full-height */
    width: 200px; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
}


.nav-leftitem {
    padding: 10px 20px;
}

.nav-leftside a:hover {
    color: #ffffff;
}

.nav-link a:hover {
    color: #ffffff;
}

.nav-leftside a {
    padding: 0px 8px 8px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #9d9d9d;
    display: block;
    transition: 0.3s;
}

.bodycontainer {
    border: dashed;
    margin-left: 200px;
}

.float-right {
    float: right;
}

.checkboxLabel {
    margin-left: 5px;
}

.documentable {
    width: 100%;
}

.documentable th {
    width: 100px;
}

.documentable td {
    width: 100px;
}

.required {
    color: red;
    padding-left: 10px
}
